body {
    background-image: url(./assets/img/fundo-calcular-media-desfocado.jpg);
    background-position: center center;
    background-size: cover;
    background-color: rgba(229, 255, 0, 0.548);
    
}

#valor {
    color: rgb(255, 153, 0);;
}

.container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 400px;
    /* height: 50vh; */
    margin: 150px auto;
    background-color: rgba(53, 0, 88, 0.671);
    padding: 20px;
    text-align: center;
    border-radius: 30px;
    box-shadow: 10px 10px 10px rgba(195, 106, 255, 0.548);
}

h1 {
    color: rgba(255, 255, 255, 0.377);
}

input {
    margin: auto;
    display: block;
    border: none;
    margin-bottom: 25px;
    height: 45px;
    width: 350px;
    border-radius: 15px;
    outline: 0;
    background-color: rgba(0, 0, 0, 0.315);
    color: rgba(255, 255, 255, 0.315);
    font-size: 20px;
    padding: 10px;
}

button {
    color: rgba(53, 0, 88, 0.671);
    font-size: 15px;
    font-weight: bold;
    height: 35px;
    border: none;
    border-radius: 15px;
    width: 30%;
    background-color: rgba(255, 255, 255, 0.315);
}

button:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 153, 0);
}